/* Default fonts */
body {
    font-family: "Roboto", Helvetica, sans-serif;
  }
  
  /* Heading */
  h1 {
    font-size: 16px;
    color: #444444;
    text-align: center;
  }
  
  /* Container */
  .container {
    margin: 5px;
    font-size: 13px;
    text-align: center;
  }
  
  /* Offers */
  .offer {
    display: inline-block;
    width: 400px;
    margin: 4px;
    text-align: center;
    border: 1px solid #cccccc;
  }
  
  /* Offer title */
  .offerTitle {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #00b3b3;
    padding: 15px;
  }
  
  /* Offer contents */
  .offerContents {
    padding: 20px;
    background-color: #fafafa;
  }
  
  /* Table */
  table {
    width: 100%;
    background-color: #ffffff;
  }
  
  /* Table Head */
  table th {
    font-size: 12px;
    font-weight: bold;
    color: #777777;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
  }
  
  /* Table Data */
  table td {
    font-weight: lighter;
    color: #444444;
    padding: 20px 10px;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
  }
  
  /* Final value */
  .finalValue {
    font-weight: bold;
    color: #2222ff;
  }
  